.App {
  text-align: center;
}

header a{
  text-decoration: none;
}
.active{
  color: red
}

.apartment{
  background-color: grey;
}

.apartment-container{
  display: flex;
  justify-content: wrap;
  

}